.menu{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 3rem;
    background-color:gray;

}

.menu-item{
    float: left;
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px;
   }

.menu-item a {
    display: block; 
    padding: 20px;
    color:grey;
    text-decoration: none;
  }   
   
   .menuactive{
   
    float: left;
    font-size: 16px;
    font-weight: 600;
    background-color:white;
    color:aquamarine;
      
   
   }

   .menuactive a {
    display: block; 
    padding: 20px;
    color:grey;
    text-decoration: none;
  }   